* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: azure;
}

h1{
    text-align: center;
    padding: 25px;
    background: linear-gradient(darkslategrey, azure);
}

h2{
    padding: 10px;
    margin-bottom: 10px;
}

.news{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-around;
}

.news__item{
    width: 30%;
    padding-bottom: 15px;
    background-color: white;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news__item img{
    width: 100%;
}

.news__item a{
    text-decoration: none;
    background-color: darkslategrey;
    color: azure;
    border-radius: 15px;
    padding: 8px;
    align-self: center;
}

.news__item a:hover{
    background-color: mediumseagreen;
    color: darkslategrey;
    font-weight: bold;
}